<div class="navbar-container">
  <div class="navbar-title-top">
    <p><%=link_to "Jobsearchproject", root_path %></p>
  </div>

  <div class="navbar-title-bottom" data-controller="gsap">
    <%# <div class="nav-title">
      <p>Jobsearchproject</p>
    </div> %>

    <div>
      <ul class="nav-links">
        <% if user_signed_in? %>
          <div class="nav-item">
            <li data-action="click->gsap#navbarAnimation"><%= link_to "Home", offers_path %></li>
            <div class="active-nav"></div>
          </div>

          <div class="nav-item">
            <li data-action="click->gsap#navbarAnimation"><%= link_to "Stats", "#" %></li>
          </div>

          <div class="nav-item">
            <li data-action="click->gsap#navbarAnimation"><%= link_to "Profile", "#" %></li>
          </div>
        <% end %>

        <% if user_signed_in? %>
          <div class="nav-item">
            <li data-action="click->gsap#navbarAnimation"><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
          </div>
        <% else %>
          <div class="nav-item">
            <li data-action="click->gsap#navbarAnimation"><%= link_to "Log in", new_user_session_path %></li>
          </div>
          <div class="nav-item">
            <li data-action="click->gsap#navbarAnimation"><%= link_to "Sign up", new_user_registration_path %></li>
          </div>
        <% end %>

      </ul>
    </div>

    <%# <div class="nav-photo">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
    </div> %>
  </div>

</div>
