<div id="offer-list-modal" data-refresh-list-target="list">
  <% @offers.each do |offer| %>
    <div class="offer-card-item-background background-white"
      data-controller="offer-zoom"
      data-action="click->offer-zoom#zoom">
      <div class="offer-card-item">
        <div class="offer-card-date item-inline-space-between" data-offer-zoom-target="selectOffer">
          <div class="offer-card-send-date">
            <p><%= offer.send_date %></p>
          </div>
          <div class="offer-card-days-ago">
            <p><%= "#{(Date.today - offer.send_date).to_i} days ago" %></p>
          </div>
        </div>
        <div class="offer-card-job-title" data-offer-zoom-target="selectOffer">
          <h2><%= offer.job_title %></h2>
        </div>
        <div class="offer-card-company-name" data-offer-zoom-target="selectOffer">
          <h3><%= offer.company_name %></h3>
        </div>
        <div class="offer-card-job-location item-inline-flex-start boxed-item" data-offer-zoom-target="selectOffer">
          <i class="fa-solid fa-location-dot"></i>
          <h3><%= offer.job_location %></h3>
        </div>
        <div class="offer-card-job-type item-inline-flex-start"  data-offer-zoom-target="selectOffer">
          <div class="job-type-contract item-inline-flex-start boxed-item">
            <i class="fa-solid fa-suitcase"></i>
            <p>CDD</p>
          </div>
          <div class="job-type-length item-inline-flex-start boxed-item">
            <i class="fa-solid fa-clock"></i>
            <p>6 months</p>
          </div>
        </div>
        <div class="offer-card-company-info hidden" data-offer-zoom-target="selectOffer">
          <%= offer.company_info %>
        </div>
        <div class="offer-card-application-letter hidden" data-offer-zoom-target="selectOffer">
          <%= offer.application_letter %>
        </div>
        <div class="offer-card-cv hidden" data-offer-zoom-target="selectOffer">
          <%= offer.cv %>
        </div>
        <div class="offer-card-archived hidden" data-offer-zoom-target="selectOffer">
          <%= offer.archived %>
        </div>
        <div class="link hidden" data-offer-zoom-target="selectOffer">
          <%= link_to "Update", edit_offer_path(offer), class: "button-main", data: { turbo_frame: "modal", controller: "modals", action: "click->modals#toggleContainers" }%>
          <%= link_to "Delete", offer_path(offer), class:"button-cancel", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
        </div>
      </div>

    </div>
  <% end %>
</div>
