<div id="offer-list-modal" data-refresh-list-target="list">
  <% @offers.each do |offer| %>
    <div class="offer-card-item"
      data-controller="offer-zoom"
      data-action="click->offer-zoom#zoom">

      <div class="offer-card-job-title" data-offer-zoom-target="selectOffer">
        <%= offer.id %>
        <%= offer.job_title %>
      </div>
      <div class="offer-card-company-name" data-offer-zoom-target="selectOffer">
        <%= offer.company_name %>
      </div>
      <div class="offer-card-job-location" data-offer-zoom-target="selectOffer">
        <%= offer.job_location %>
      </div>
      <div class="offer-card-send-date" data-offer-zoom-target="selectOffer">
        <%= offer.send_date %>
      </div>
      <div class="offer-card-days-ago" data-offer-zoom-target="selectOffer">
        <%= "#{(Date.today - offer.send_date).to_i} days ago" %>
      </div>
      <div class="offer-card-company-info hidden" data-offer-zoom-target="selectOffer">
        <%= offer.company_info %>
      </div>
      <div class="offer-card-application-letter hidden" data-offer-zoom-target="selectOffer">
        <%= offer.application_letter %>
      </div>
      <div class="offer-card-cv hidden" data-offer-zoom-target="selectOffer">
        <%= offer.cv %>
      </div>
      <div class="offer-card-archived hidden" data-offer-zoom-target="selectOffer">
        <%= offer.archived %>
      </div>
      <div class="link hidden" data-offer-zoom-target="selectOffer">
        <%= link_to "GO", offer_path(offer) %>
        <%= link_to "UPDATE", edit_offer_path(offer), data: { turbo_frame: "modal" } %>
        <%= link_to "DELETE", offer_path(offer), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
      </div>

    </div>
  <% end %>
</div>
