<div class="index-offer-container">

  <div class="index-offer-container-left">
    <div class="offer-card" data-controller="refresh-list">
      <div class="offer-card-options">
        <%= form_with url: offers_path, method: :get, html: { class: 'button-main', data: { refresh_list_target: 'form' } } do |f| %>
          <%= f.text_field :query,
                            class: "form-control",
                            placeholder: 'Search',
                            value: params[:query],
                            data: {
                              refresh_list_target: 'searchInput',
                            action: "keyup->refresh-list#update"
                          } %>
        <% end %>
        <%= link_to "+ Add", new_offer_path, data: { turbo_frame: "modal" }, class: "button-main" %>
      </div>
      <%= render 'list', offers: @offer %>
      <%# <div class="" data-refresh-list-target="list">
      </div> %>
    </div>
  </div>
  <div>
    <%= turbo_frame_tag "modal" %>
  </div>
    <div class="index-offer-container-right" id="offer-info-box" data-controller="offer-zoom" data-offer-zoom-target="offerInfo">
    </div>

</div>
